---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <h1 class="text-center text-2xl md:text-3xl lg:text-7xl font-semibold mt-10">
    Kontakt
  </h1>

  <div class="py-20">
    <h3 class="text-center text-3xl mb-8">Christian</h3>
    <ul class="text-center space-y-5">
      <li>
        <a class="" href="mailto:christian.aerenlund@gmail.com"
          >christian.aerenlund@gmail.com</a
        >
      </li>

      <li><a class="" href="tel:+4551949133">+45 51 94 91 33</a></li>
    </ul>
  </div>
</MainLayout>
