---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import location1MainImage from "../images/location-1/location-1-main-image.jpg";
import { getCollection } from "astro:content";
import LocationCard from "../components/LocationCard.astro";

const locations = await getCollection("locations");
---

<MainLayout>
  <div class="md:min-h-[calc(100vh-64px)] h-full flex flex-col py-10 grow">
    <div
      class="grid lg:grid-cols-2 gap-20 lg:gap-5 container mx-auto place-items-center grow"
    >
      {locations.map((location) => <LocationCard location={location} />)}
    </div>
  </div>
</MainLayout>

<style>
  .overlay {
    border-image: fill 1 rgba(0, 0, 0, 0.5);
  }
</style>
